################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/FruitRecognition/v16
/.vs
/.vscode
/.Pipfile
/.Pipfile.lock
/.fruitSplit
