[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
split-folders = "*"
tqdm = "*"
matplotlib = "*"
ipykernel = "*"
scipy = "*"
tflite-model-maker = "*"

[dev-packages]

[requires]
python_version = "3.7"
