<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.polsl.libraryproject">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryProject">
        <activity
            android:name=".activities.ChooseClientActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CopiesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BooksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddBookActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MenuWorkerActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>